<div class="main-container">
<div class="card mb-0">
  <div class="card-header">
    {{emojifyText name}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{emojifyText title}}</h5>
    <p class="card-text">{{emojifyText description}}</p>

</div>

    {{!-- <div class=" m-2 del-forum-post">
        <button class="btn btn-sm btn-danger" data-id="{{forum.id}}">DELETE POST</button>
    </div> --}}
  {{!-- </div> --}}
    {{!-- comment section --}}
    {{!-- <div class="comment mt-0">
<div class="new-comment-form">
    <div class="form-floating">
          <textarea class="form-control" 
                    placeholder="Leave a comment here" 
                    id="floatingTextarea forum-comment"
                    ></textarea>
  <label for="floatingTextarea forum-comment">Leave a comment here.</label>
  <div class="add-comment-button d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btn btn-primary me-md-2 " type="submit" data-id="{{forum.id}}">Add Comment</button>
  </div>
  </div>
</div>
</div> --}}

{{!-- displayed comments --}}
{{!-- {{#each Comment as |comment|}} --}}
  {{!-- <div class="card pb-2">
  <div class="card-body">
    <h2 class="blockquote-footer mt-1">{{user.name}}</h2>
    <blockquote class="blockquote mb-0">
      <p>{{emojifyText comments}}</p>
    </blockquote>
  </div>
</div> --}}
{{!-- {{/each}} --}}


{{!-- </div> --}}
{{!-- 
<script src="/js/delete_button.js"></script> --}}
{{!-- <script src="/js/forum.js"></script> --}}
